 <div class="row">
        <div class="col-lg-9">
            <h1>1142.User Activity for the Past 30 Days II</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Table: <code>Activity4</code></p>

<pre>
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user_id       | int     |
| session_id    | int     |
| activity_date | date    |
| activity_type | enum    |
+---------------+---------+
There is no primary key for this table, it may have duplicate rows.
The activity_type column is an ENUM of type (&#39;open_session&#39;, &#39;end_session&#39;, &#39;scroll_down&#39;, &#39;send_message&#39;).
The table shows the user activities for a social media website.
Note that each session belongs to exactly one user.</pre>

<p>&nbsp;</p>

<p>Write an SQL query to find the average number of sessions per user for a period of 30 days ending <strong>2019-07-27</strong>&nbsp;inclusively, <strong>rounded to 2 decimal places</strong>. The sessions we want to count for a user are those with at least one activity in that time period.</p>

<p>The query result format is in the following example:</p>

<pre>
Activity table:
+---------+------------+---------------+---------------+
| user_id | session_id | activity_date | activity_type |
+---------+------------+---------------+---------------+
| 1       | 1          | 2019-07-20    | open_session  |
| 1       | 1          | 2019-07-20    | scroll_down   |
| 1       | 1          | 2019-07-20    | end_session   |
| 2       | 4          | 2019-07-20    | open_session  |
| 2       | 4          | 2019-07-21    | send_message  |
| 2       | 4          | 2019-07-21    | end_session   |
| 3       | 2          | 2019-07-21    | open_session  |
| 3       | 2          | 2019-07-21    | send_message  |
| 3       | 2          | 2019-07-21    | end_session   |
| 3       | 5          | 2019-07-21    | open_session  |
| 3       | 5          | 2019-07-21    | scroll_down   |
| 3       | 5          | 2019-07-21    | end_session   |
| 4       | 3          | 2019-06-25    | open_session  |
| 4       | 3          | 2019-06-25    | end_session   |
+---------+------------+---------------+---------------+

Result table:
+---------------------------+ 
| average_sessions_per_user |
+---------------------------+ 
| 1.33                      |
+---------------------------+ 
User 1 and 2 each had 1 session in the past 30 days while user 3 had 2 sessions so the average is (1 + 1 + 2) / 3 = 1.33.</pre>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [2]:
Activity4 = pd.read_sql_table("Activity4", engine)
Activity4

    user_id  session_id activity_date activity_type
0         1           1    2019-07-20  open_session
1         1           1    2019-07-20   scroll_down
2         1           1    2019-07-20   end_session
3         2           4    2019-07-20  open_session
4         2           4    2019-07-21  send_message
5         2           4    2019-07-21   end_session
6         3           2    2019-07-21  open_session
7         3           2    2019-07-21  send_message
8         3           2    2019-07-21   end_session
9         3           5    2019-07-21  open_session
10        3           5    2019-07-21   scroll_down
11        3           5    2019-07-21   end_session
12        4           3    2019-06-25  open_session
13        4           3    2019-06-25   end_session

In [3]:
query = '''
SELECT ROUND(AVG(count),2) average_sessions_per_user 
FROM (
SELECT COUNT(DISTINCT session_id) count
FROM Activity4
WHERE activity_date > DATE_SUB('2019-07-27', INTERVAL 30 DAY)
GROUP BY user_id) temp;
'''
pd.read_sql_query(query, engine)

   average_sessions_per_user
0                       1.33